<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rednels.androidsample" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk tools:node="replace" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh" />
        <activity
            android:name=".sample.TextureViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".sample.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" />
        <activity
            android:name=".sample.LoadMoreRecyclerActivity"
            android:label="@string/title_activity_load_more_recycler" >
        </activity>
        <activity
            android:name=".sample.CardViewBaseActivity"
            android:label="@string/title_activity_card_view_base" >
        </activity>
        <activity
            android:name=".sample.CardViewListActivity"
            android:label="@string/title_activity_card_view_list" >
        </activity>
    </application>

</manifest>
